<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dog Sitter</title>
</head>

<body>
    {% extends 'base.html' %}
    {% block content %}
    <h1 style="text-align: center; text-decoration: underline;">Welcome to Dog Sitter</h1>

    <h4 style="text-align: center;">Dog Sitter is a place where you, as a dog sitter, can keep track of all of the dogs
        you are watching. Along with
        this, you can also keep a record of all of the feedings, and which toys belong to which dog. </h4>
    {%endblock%}
</body>

</html>